.ghe {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 7px;
    background-color: rgb(94, 94, 94);
    color: white;
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .ghe {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin: 7px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ghe {
        width: 25px;
        height: 25px;
        font-size: 13px;
        border-radius: 5px;
        margin: 6px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ghe {
        width: 20px;
        height: 20px;
        font-size: 12px;
        border-radius: 4px;
        margin: 5px;
    }
}
@media only screen and (max-width: 767px) {
    .ghe {
        width: 18px;
        height: 18px;
        font-size: 11px;
        border-radius: 5px;
        margin: 4px;
    }
}
@media only screen and (max-width: 600px) {
    .ghe {
        width: 18px;
        height: 18px;
        border-radius: 4px;
        font-size: 10px;
        margin: 4px;
    }
}
@media only screen and (max-width: 400px) {
    .ghe {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        font-size: 9px;
        margin: 3px;
    }
}

.gheDaDat {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: no-drop;
}

.gheVip {
    background-color: rgb(196, 22, 22);
}

.gheVipDaDat {
    background-color: rgba(165, 42, 42, 0.5);
}

.gheDangDat {
    background-color: rgb(0, 220, 0) !important;
}

.gheMinhDat {
    background-color: rgb(246, 246, 246);
    box-shadow: -1px 2px 20px -4px #000000;
    color: orange !important;
    border: 1px solid orange;
}

.gheKhachDangDat {
    background-color: rgb(47, 18, 122) !important;
    cursor: no-drop;
}
